:root {
  /* Color */
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --logo-black-color: #000000;
  --accent-color: #2196f3;
  --hero-overlay: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
  --hero-bg-color: #c4c4c4;
  --hero-button-bg-color: #188ce8;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --backdrop-bg: rgba(0, 0, 0, 0.2);

  /* svg */
  --primary-svg-fill: #afb1b8;
  --footer-svg-bg-color: rgba(255, 255, 255, 0.1);
  /* Decoration */
  --border-under-header: #ececec;
  --border-under-item: #eeeeee;
  --shadow-hero-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --shadow-portfolio-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-example: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  /* transition (css-переходы) */
  --duration-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Geometry */
  /* отступ между элементами списка (кроме меню навигации) */
  --list-gap: 30px;
  /* -1 * var(--list-gap) = -30px  */
}

/* основной цвет текста (прозрачный) #757575  */

/* вторичный цвет текста (черный) #212121 */

/* третий цвет текста (белый) #ffffff */

/* основной фон (белый)  #ffffff */

/* второй фон (белый с прозрачностью) #f5f4fA (наша команда) */

/* третий фон футера + эффиктивные решения (серый) #2f303a */

/* акцент #2196f3 */

/* кнопка Hero - фон #188CE8 */

/* Добавление в Body: основной цвет и шрифт текста + фон */
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: 'Roboto', 'Raleway', sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

h3 {
  margin-bottom: 10px;
}

/* .list Убираем маркеры с нужных нам списков */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* контейнер офрмление */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.image {
  display: block;
  max-width: 100%;
}

/* -----------------HEADER-------------------------- */
/* Серая линия под HEADER - relative */
.page-header {
  position: relative;
}

/* Серая линия под HEADER - absolute */
.page-header::after {
  content: '';
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid var(--border-under-header);
  width: 100%;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.page-header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

/* .logo-web - синий логотип */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

/* WebStudio - черный */
.logo .accent.black {
  color: var(--logo-black-color);
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 93px;
}

/* Подчеркивание текущей страницы - relative */
.site-nav > .item {
  position: relative;
}

/* site-nav цвет списка ссылок */
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  transition: color var(--duration-timing-function);
}

/* site-nav цвет ссылки при наведении */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* current - Позиционирование открытой ссылки на текущей странице - задаю цвет текста*/
.site-nav .link.current {
  color: var(--accent-color);
}

/* Подчеркивание текущей страницы - absolute */
.link.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

/* задается цвет списку контактов в шапке */
.contact .link {
  display: flex;

  padding-top: 32px;
  padding-bottom: 32px;

  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color var(--duration-timing-function);
}

.contact-icon {
  margin-right: 10px;

  fill: currentColor;
}

/* задается цвет подсвечивания ссылки при наведении курсором */
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* ------------------HERO-------------------- */
/* фон Героя */
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(var(--hero-overlay)), url('../images/main/hero/hero-bg.jpg');
  background-color: var(--hero-bg-color);
  background-position: center;
  /* background-repeat: no-repeat;
  background-size: cover; */
}

/* h1 Задается цвет заголовку Героя */
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

/* button применение формления к кнопке */
.hero-button {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  cursor: pointer;
  border-color: transparent;
  box-shadow: var(--shadow-hero-button);
  border-radius: 4px;

  transition: background-color var(--duration-timing-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-bg-color);
}

/* ---------------------modal----------------- */
.backdrop {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;
  /* padding-bottom: 222px;
  padding-top: 222px; */

  background-color: var(--backdrop-bg);

  opacity: 1;
  transition: opacity var(--duration-timing-function), visibility var(--duration-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;

  /* margin-left: auto;
  margin-right: auto; */
  padding: 30px;

  background-color: var(--primary-bg-color);

  border-radius: 4px;
  box-shadow: var(--shadow-modal);
  }


.modal .button-close {
  position: absolute;
  right: 5px;
  top: 5px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 7px 7px 8px 8px;

  background-color: #ffffff;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button-close .icon {
  transition: fill var(--duration-timing-function);
}
.button-close .icon:hover,
.button-close .icon:focus {
  fill: var(--accent-color);
}


/* --------------------SECTION-2------------------- */
/* применение ЗАГОЛОВКА к однотипным секциям, в которых одинаковый цвет заголовка */
.feature {
  padding-bottom: 47px;
}
.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feature-item {
  width: 270px;
}

.feature .icon-thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  background-color: var(--secondary-bg-color);

  border-radius: 4px;
}

/* h3 оформление-1 */
.feature-item .title {
  font-size: 14px;
  line-height: 1.14;

  color: var(--title-text-color);
}

/* p - оформление-1 */
.feature-item .text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--primary-text-color);
}

/* --------------------SECTION-3------------------- */
.versions {
  padding-top: 47px;
}

.versions-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--list-gap);
}

/* Позиционирование заголовка с фоном перед изображением - relative */
.versions-item {
  position: relative;
}

.versions-item .title {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-bottom: 0;

  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  background-color: rgba(47, 48, 58, 0.8);
}
/* --------------------SECTION-4------------------- */
/* фон к section */
.team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
  gap: var(--list-gap);
}

/* фон к элементу списка */
.team-item {
  background-color: var(--secondary-text-color);

  box-shadow: var(--shadow-team);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* h3 оформление -2 */
.team-item .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--title-text-color);
}

/* p - оформление-2 */
.team-item .text {
  margin-bottom: 16px;

  line-height: 1.19;
  text-align: center;

  color: var(--primary-text-color);
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  fill: var(--primary-svg-fill);

  border-radius: 50%;

  transition: background-color var(--duration-timing-function);
}

.social-item > .social-link:hover,
.social-item > .social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bg-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  transition: background-color var(--duration-timing-function), fill var(--duration-timing-function);
}

/* client */
.clients-list {
  display: flex;
  gap: var(--list-gap);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  fill: var(--primary-svg-fill);

  border: 1px solid var(--primary-svg-fill);
  border-radius: 4px;

  transition: border-color var(--duration-timing-function);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);

  border-color: var(--accent-color);
}

.clients-link:hover .icon,
.clients-link:focus .icon {
  transition: fill var(--duration-timing-function);
}

/* -----------------------ФУТЕР---------------- */
/* фон - футер */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

/* Studio - белый цвет */
.logo .accent.white {
  color: var(--secondary-text-color);
}

.address-list {
  min-width: 231px;
  margin-top: 20px;
}

.city-item {
  margin-bottom: 6px;
}

.city-link {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  /* letter-spacing: inherit; */

  color: var(--secondary-text-color);

  transition: color var(--duration-timing-function);
}

.mail-item {
  margin-bottom: 9px;
}

/* phone - оформление */
.mail-link,
.phone-link {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-text-color);

  transition: color var(--duration-timing-function);
}

.city-link:hover,
.city-link:focus,
.mail-link:hover,
.mail-link:focus,
.phone-link:hover,
.phone-link:focus {
  color: var(--accent-color);
}

.page-footer .social-thumb {
  margin-left: 70px;
}

.social-thumb .title {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-bg-color);
}

.social-thumb .social-link {
  fill: var(--secondary-text-color);
  background-color: var(--footer-svg-bg-color);

  transition: background-color var(--duration-timing-function);
}

/* ------------------------------------------- */
/* ----------------ПОРТФОЛИО-------------- */
/* ------------------------------------------- */

.directions-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.directions-list .directions-item + .directions-item {
  margin-left: 8px;
}

.directions-item:first-child > .directions-button {
  padding-left: 25px;
  padding-right: 25px;
}

/* button применение формления к кнопке */
.directions-button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);

  border-radius: 4px;
  cursor: pointer;
  border-style: none;

  transition: color var(--duration-timing-function),
    background-color var(--duration-timing-function), box-shadow var(--duration-timing-function);
}

/* Кнопка - наведеие и фокус */
.directions-button:hover,
.directions-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  box-shadow: var(--shadow-portfolio-button);
}

/* ------------Example--------------- */
.example-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--list-gap);
}

.example-link {
  transition: box-shadow var(--duration-timing-function);
}

.example-link:hover,
.example-link:focus {
  display: block;
  box-shadow: var(--shadow-example);
}

/* overlay - reative + overflow: hidden - текст выезжает из .example-thumb */
.example-thumb {
  position: relative;
  overflow: hidden;
}

/* overlay - absolute */
.example-overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  padding: 63px 24px 63px 24px;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: start;
  color: var(--secondary-text-color);

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: color var(--duration-timing-function),
    background-color var(--duration-timing-function), transform var(--duration-timing-function),
    opacity var(--duration-timing-function), translateY var(--duration-timing-function);
}

.example-link:focus .example-overlay,
.example-link:hover .example-overlay {
  opacity: 1;

  transform: translateY(0);
}

.example-content {
  padding: 20px 24px;

  background-color: var(--primary-bg-color);

  border-left: 1px solid var(--border-under-item);
  border-right: 1px solid var(--border-under-item);
  border-bottom: 1px solid var(--border-under-item);
}

.example-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.example-text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}
