@import './base/reset';
@import './base/container';
@import './base/visually-hidden';
@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';

@import './layout/page-header';
@import './components/logo';
@import './components/site-nav';
@import './components/contact';
@import './components/button-menu';

@import './layout/hero';
@import './components/button';
@import './components/modal';
@import './components/modal-form';
@import './components/checkbox';
@import './components/button-close';

@import './layout/feature';
@import './components/subtitle';

@import './layout/version';
@import './components/section-title';

@import './layout/team';
@import './components/socials';

@import './layout/clients';

@import './layout/page-footer';
@import './components/address';
@import './components/sign-up';
