/* client */
.clients__list {
  display: flex;
  gap: var(--list-gap);
}

.clients__item {
  width: calc((100% - 5 * var(--list-gap)) / 6);
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;

  fill: var(--primary-svg-fill);

  border: 1px solid var(--primary-svg-fill);
  border-radius: 4px;

  transition: border-color var(--duration-timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients__icon {
  transition: fill var(--duration-timing-function);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
