.directions {
  @include padding-vertical(60px, 60px);
}

.directions__list {
  display: flex;
  row-gap: 15px;
  column-gap: 8px;
  margin-bottom: 40px;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    max-width: 327px;
  }

  @media screen and (min-width: 768px) {
    gap: 8px;
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

// .directions__item {
//   @media screen and (max-width: 767px) {
//   }
// }

/* button применение формления к кнопке */
.directions__button {
  padding: 6px 22px;

  @include font($fz: 16px, $lh: 1.62, $fw: 500, $ls: 0.03em, $color: var(--title-text-color));

  background-color: var(--secondary-bg-color);

  border-radius: 4px;
  cursor: pointer;
  border-width: 0;

  transition: color var(--duration-timing-function),
    background-color var(--duration-timing-function), box-shadow var(--duration-timing-function);

  .directions__item:first-child > & {
    padding-left: 25px;
    padding-right: 25px;
  }

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);

    box-shadow: var(--shadow-portfolio-button);
  }
}
