.example__list {
  @include gapFlex();
  flex-wrap: wrap;
}

.example__item {
  @media screen and (min-width: 768px) {
    display: flex;
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }
}

.example__link {
  transition: box-shadow var(--duration-timing-function);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  &:hover,
  &:focus {
    box-shadow: var(--shadow-example);
  }
}

/* overlay - reative + overflow: hidden - текст выезжает из .example-thumb */
.example__overlay-thumb {
  position: relative;
  overflow: hidden;
}

/* overlay - absolute */
.example__overlay {
  @include position(absolute, $top: 0, $left: 0);
  opacity: 0;

  padding: 63px 24px 63px 24px;
  width: 100%;
  height: 100%;

  @include font($fz: 18px, $lh: 1.56, $fw: 400, $ls: 0.03em, $color: var(--secondary-text-color));

  text-align: start;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: color var(--duration-timing-function), background-color var(--duration-timing-function), transform var(--duration-timing-function),
    opacity var(--duration-timing-function), translateY var(--duration-timing-function);

  .example__link:focus &,
  .example__link:hover & {
    opacity: 1;

    transform: translateY(0);
  }
}

.example__content {
  padding: 20px 24px;

  background-color: var(--primary-bg-color);

  border-left: 1px solid var(--border-under-item);
  border-right: 1px solid var(--border-under-item);
  border-bottom: 1px solid var(--border-under-item);

  @media screen and (min-width: 768px) {
    flex-grow: 1;
  }
}

.example__title {
  margin-bottom: 4px;

  @include font($fz: 20px, $lh: 2, $fw: 700, $ls: 0.06em, $color: var(--title-text-color));
}

.example__text {
  @include font($fz: 16px, $lh: 1.88, $fw: null, $ls: 0.03em, $color: var(--primary-text-color));
}
