.feature {
  padding-bottom: 47px;
}

.feature__list {
  @include gapFlex($gap: var(--list-gap));
}

.feature__item {
  width: calc((100% - 3 * var(--list-gap)) / 4);
}

.feature__icon-thumb {
  @include centerFlex();

  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  background-color: var(--secondary-bg-color);

  border-radius: 4px;
}

/* h3 оформление-1 */
.feature__subtitle {
  color: var(--title-text-color);
}

/* p - оформление-1 */
.feature__text {
  @include font($fz: 14px, $lh: 1.71, $fw: 400, $ls: 0.03em, $color: var(--primary-text-color));
}
