/* фон Героя */
.hero {
  max-width: 1600px;

  @include padding-vertical(118px, 118px);
  margin-left: auto;
  margin-right: auto;
  // min-height: 600px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/main/mobile-img/hero-bg/hero-bg-mobile.jpg');
  background-color: var(--hero-bg-color);
  @extend %background-properties;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/main/mobile-img/hero-bg/hero-bg-mobile-2x.jpg');
    // background-color: #c4c4c4;
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/main/tablet-img/hero-bg/hero-bg-tablet.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/main/tablet-img/hero-bg/hero-bg-tablet-2x.jpg');
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/main/desktop-img/hero-bg/hero-bg-desktop.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/main/desktop-img/hero-bg/hero-bg-desktop-2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    @include padding-vertical(200px, 200px);
  }
}

/* h1 Задается цвет заголовку Героя */
.hero__title {
  max-width: 360px;

  @include hero-title();

  @media screen and (min-width: 1200px) {
    max-width: 696px;

    @include hero-title($font-size: 44px, $line-height: 1.36);
  }
}

/* button применение формления к кнопке */
.hero__button {
  min-width: 216px;
}
