/* фон - футер */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

// .page-footer__logo {
//   display: block;
//   margin-bottom: 20px;
//   text-align: center;
// }

.page-footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
}

.logo-address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;

    text-align: center;
  }
}

.page-footer__social-thumb {
  margin-bottom: 60px;

  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.social-thumb__title {
  margin-bottom: 20px;

  color: var(--secondary-text-color);
}
