/* фон к section */
.team {
  background-color: var(--secondary-bg-color);
}

.team__list {
  @include gapFlex($gap: var(--list-gap));
}

/* фон к элементу списка */
.team-item {
  width: calc((100% - 3 * var(--list-gap)) / 4);

  background-color: var(--secondary-text-color);

  box-shadow: var(--shadow-team);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-item__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* h3 оформление -2 */
.team-item__title {
  @include font($fz: 16px, $lh: 1.19, $fw: 500, $ls: 0.03em, $color: var(--title-text-color));

  text-align: center;
}

/* p - оформление-2 */
.team-item__text {
  margin-bottom: 16px;

  @include font($fz: 16px, $lh: 1.19, $fw: 400, $ls: 0.03em, $color: var(--primary-text-color));

  text-align: center;
}
