.versions {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 47px;
  }
}

.versions__list {
  @media screen and (min-width: 1200px) {
    @include gapFlex($gap: var(--list-gap));
  }
}

/* Позиционирование заголовка с фоном перед изображением - relative */
.versions__item {
  @media screen and (min-width: 1200px) {
    position: relative;

    width: calc((100% - 2 * var(--list-gap)) / 3);
  }
}

.versions__subtitle {
  @extend %versions__subtitle;
}
