.versions {
  padding-top: 47px;
}

.versions__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--list-gap);
}

/* Позиционирование заголовка с фоном перед изображением - relative */
.versions__item {
  position: relative;

  width: calc((100% - 2 * var(--list-gap)) / 3);
}

.versions__subtitle {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-bottom: 0;

  color: var(--secondary-text-color);

  text-align: center;

  background-color: rgba(47, 48, 58, 0.8);
}
