.checkbox {
  max-width: 423px;
  margin-bottom: 30px;
  padding-left: 12px;

  @include font($fz: 14px, $lh: 1.71, $fw: 400, $ls: 0.03em, $color: var(--primary-text-color));

  text-align: center;
}

/* visually-hidden - декоративного оформления */
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__label {
  display: flex;
  align-items: center;
}

.checkbox__icon-thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 15px;

  margin-right: 7px;
}

.checkbox__icon {
  fill: transparent;
  border: 1px solid var(--modal-svg-fill);
  border-radius: 2px;

  transition: border-color var(--duration-timing-function);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  .checkbox__input:checked + .checkbox__label & {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
  }
}

.checkbox__link {
  margin-left: 5px;

  letter-spacing: 0.03em;
  color: var(--accent-color);
}
