.contact {
  @include gapFlex($gap: 50px);

  margin-left: auto;
}

/* задается цвет списку контактов в шапке */
.contact__link {
  display: flex;

  padding-top: 32px;
  padding-bottom: 32px;

  @include font($fz: 14px, $lh: 1.14, $fw: 500, $ls: 0.02em, $color: var(--primary-text-color));

  align-items: center;

  transition: color var(--duration-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact__icon {
  margin-right: 10px;

  fill: currentColor;
}
