/* .logo-web - синий логотип */
.page-header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  @include font($fz: 26px, $lh: 1.19, $fw: 700, $ls: 0.03em, $color: var(--accent-color));
}

/* Studio - черный цвет */
.logo__accent--black {
  color: var(--logo-black-color);
}

/* Studio - белый цвет */
.logo__accent--white {
  color: var(--secondary-text-color);
}
