.backdrop {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop-bg);

  opacity: 1;
  transition: opacity var(--duration-timing-function), visibility var(--duration-timing-function);

  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  max-height: 581px;

  /* margin-left: auto;
  margin-right: auto; */
  padding: 40px;

  background-color: var(--primary-bg-color);

  border-radius: 4px;
  box-shadow: var(--shadow-modal);
}

.modal__title {
  margin-bottom: 12px;

  @include font($fz: 20px, $lh: 1.15, $fw: 700, $ls: 0.03em, $color: var(--title-text-color));
  text-align: center;
}
