.modal-form__list {
  margin-bottom: 10px;
}

.modal-form__item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;

  @include font($fz: 12px, $lh: 1.16, $fw: 400, $ls: 0.01em, $color: var(--primary-text-color));
}

.modal-form__input {
  padding: 10px 12px 10px 42px;
  width: 100%;

  @include circle-bordered(var(--modal-border), 2px);

  transition: border-color var(--duration-timing-function);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  @include position(absolute, $top: 50%, $left: 12px);

  fill: var(--modal-svg-fill);

  transition: fill var(--duration-timing-function);

  .modal-form__item:focus-within > & {
    fill: var(--accent-color);
  }
}

/* ----------------------form-comment------------------------ */
.comment {
  max-height: 138px;
  margin-bottom: 20px;
}

.comment__label {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  color: var(--primary-text-color);

  letter-spacing: 0.01em;
}

.comment__textarea {
  width: 100%;
  max-height: 120px;

  padding: 12px 16px 12px 16px;

  // @include font($fz: 16px, $lh: 1.17, $fw: 400, $ls: 0.01em, $color: var(--title-text-color));
  // font-style: 26px;

  @include circle-bordered(var(--modal-border), 4px);

  outline: none;
  resize: none;

  transition: border-color var(--duration-timing-function);

  /* Цвет самой надписи - placeholder */
  &::placeholder {
    // ::-ms-input-placeholder.
    // @include font($fz: 12px, $lh: 1.17, $fw: 400, $ls: 0.01em, $color: rgba(117, 117, 117, 0.5));

    // color: rgba(117, 117, 117, 0.5);
    // @include padding-vertical(60px, 60px);
  }

  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__button {
  min-width: 200px;
}
