.sign-up {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 93px;
  }
}

.sign-up__label {
  display: block;

  color: var(--secondary-text-color);
}

.sign-up__input {
  min-width: 358px;
  height: 50px;

  padding-left: 16px;
  margin-top: 20px;
  margin-bottom: 20px;

  @include font($fz: 16px, $lh: 1.25, $fw: 400, $ls: 0.03em, $color: var(--secondary-text-color));

  background-color: var(--footer-bg-color);

  @include circle-bordered(rgba(255, 255, 255, 0.3), 4px);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  transition: color var(--duration-timing-function);

  @media screen and (min-width: 1200px) {
    margin-bottom: auto;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    outline: none;
    color: var(--secondary-text-color);
  }
}

.sign-up__button {
  position: relative;

  // margin-right: auto;
  margin-top: auto;
  padding-left: 29px;
  padding-right: 62px;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.sign-up__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
