.site-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 93px;
}

/* Подчеркивание текущей страницы - relative */
.site-nav__item {
  position: relative;
}

/* site-nav цвет списка ссылок */
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  transition: color var(--duration-timing-function);

  /* site-nav цвет ссылки при наведении */
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* current - Позиционирование открытой ссылки на текущей странице - задаю цвет текста*/
.site-nav__link--current {
  color: var(--accent-color);

  /* Подчеркивание текущей страницы - absolute */
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
