@mixin bordered($color) {
  border: 1px solid ($color);
}

@mixin font($fz: 14px, $lh: 1.14, $fw: 400, $ls: 0.01em, $color: var(--title-text-color)) {
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
  letter-spacing: $ls;
  color: $color;
}
